
    <style>
    .grid-wrapper {
      display: flex;
      flex-direction:column;
      margin: 1em;
      background-color: white;
      flex-wrap: nowrap;
      align-content:space-between;
      gap:1%;
      background-color: {{section.settings.background_color}};
      border-radius: 5px;
    }
      .grid-wrapper strong {
      padding-left:20px;
      padding-top:20px;
    }
    .grid-columns {
       display: flex;
      flex-direction:row;
    }
	.text-col {
    	display:flex;
      flex-grow: 1;
      flex-basis: 0;
      padding: 20px;
    }
    .grid-col {
      
      display: flex;
      justify-content: start;
      flex-direction:row;
      padding-bottom: 20px;
      padding-left: 20px;
      padding-right:20px;
      color: {{section.settings.text_color}};
      line-height: 1;
      
      flex-grow: 1;
      flex-basis: 0;
      align-items: center; 
    }
    .grid-col img, .grid-col p {
      display:inline-block;
    }
    .grid-col img {
      object-fit: contain;
      width:100px;
      height:100px;
    }
    .progress-bar-wrapper {
      border: 1px solid {{ section.settings.text_color }};
      border-radius:4px;
      width:100%;
    }
    .progress-bar {
      background-color: {{ section.settings.text_color }};
      width:50%;
            height:20px;
    }
    </style>
	<div>
      
      <div class="grid-wrapper">
        <div class="grid-columns">
          <div class="grid-col">
        	<strong>Shop and Give</strong>
          </div>
          <div class="grid-col">
			<strong>£50</strong>
                <div class="progress-bar-wrapper">
                  <div class="progress-bar">&nbsp;</div>
                </div>
                <strong>£200</strong>
            </div>
          </div>
        </div>
        <div class="grid-columns">
          <div class="text-col">
            <p>
                When you spend <b>£200</b> or more we will give you <b>£20</b> to donate to a cause with impact.
            </p>
          </div>
          {%- for cause in shop.metafields.pledger.causes -%}
            <div class="grid-col">
              <img src="{{cause.image_url}}" />
              <p>{{ cause.name }}</p>
            </div>
          {%- endfor -%}
        </div>  
      </div>
	</div>